@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

:root {
  --main-font: Rubik, sans-serif;
  --additional-font: Raleway, sans-serif;
}

html {
	height: 100%;
}

body {
	font-family: var(--main-font);
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;


	/* outline: 5px solid rgba(255, 99, 78, 0.5);
	outline-offset: -5px; */

}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* стили button-link */
.button-link {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
  display: inline-block;
  padding: 10px 5px;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/* header */

.page-header {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40px, #FFE17F 40px);
	padding: 0 60px;
	box-sizing: border-box;
}

.page-header__link-logo {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

.users-menu {
	display: flex;
  justify-content: space-between;
	margin-bottom: 45px;
	align-items: center;
}

.page-header__search-form {
	display: flex;
  position: relative;
}

.page-header__search-form::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/magnifier.svg") center no-repeat;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.page-header__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
	width: 307px;
	border: 2px solid #000000;
	border-right: none;
	border-radius: 50px 0 0 50px;
	background-color: #FFE17F;
	padding: 10px 0 10px 48px;
}

.page-header__button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: #FFE17F;
  padding: 10px 56px 10px 56px;
}

.page-header__list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
  width: 497px;
}

.page-header__item {
  margin: 0;
}

.page-header__item:not(:last-child) {
	margin-right: 36px;
}

.page-header__item:first-child {
	margin-right: auto;
}

/* Пользовательское меню */
.page-header__link {
	text-decoration: none;
	color: #000000;
  /* position: relative; */
}

.page-header__link--enter {
  padding-left: 26px;
  background: url("../images/enter.svg") left center / 13px 12px no-repeat;
}

.page-header__link--compare {
  padding-left: 24px;
  background: url("../images/compare.svg") left center / 10px 12px no-repeat;
}

.page-header__link--basket {
  padding-left: 28px;
  background: url("../images/basket.svg") left center / 16px 14px no-repeat;
  position: relative;
}

.page-header__link--exit {
  margin-right: 26px;
  opacity: 0.3;
}

.page-header__amount-text {
	font-size: 14px;
	line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  left: -17px;
}

/* Навигация */
.navigation {
	font-family: var(--additional-font);
	font-size: 18px;
	line-height: 21px;
	font-weight: 800;
	margin: 0;
}

.navigation__list {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	list-style: none;
	display: flex;
	padding: 0;
}

.navigation__item:not(:last-child) {
	margin-right: 45px;
}

.navigation__item:first-child {
	margin-right: auto;
}

.navigation__link {
	text-decoration: none;
	color: #000000;
}

.navigation__link--plus {
  margin-right: 7px;
  position: relative;
}

.navigation__link--plus::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/header-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  border: 2px solid #000000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 243px;
  transform: translateY(-50%);
}

/* main*/
.main-container {
	flex-grow: 1;
}

.slider {
  background: linear-gradient(to bottom, #FFE17F 148px, #FFFFFF 148px);
  position: relative;
}

.slider__button {
  width: 20px;
  height: 60px;
  cursor: pointer;
  background: url("../images/slider/sliders-arrow.svg") center no-repeat #FFFFFF;
  border: none;
  position: absolute;
}

.slider__button--prev {
  left: 30px;
  top: 211px;
}

.slider__button--next {
  left: 540px;
  top: 211px;
  transform: rotate(180deg);
}

.slider__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page-main__slider {
	margin-bottom: 70px;
}

.slider__item {
	display: none;
}

.slider__item--active {
	display: flex;
}

.slider__image {
	margin-right: 40px;
}

.text-description {
  padding-top: 121px;
}

.slider__text {
	font-family: var(--additional-font);
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 29px 0;
}

.slider__sub-text {
	margin: 0 0 50px 0;
}

.slider__description-list {
	display: flex;
	margin: 50px 0 0 0;
}

.definition-term {
	margin-right: 20px;
}

.slider__description-term {
	font-size: 36px;
	line-height: 30px;
	margin: 0 0 12px 0;
}

.slider__description-definition {
	font-size: 16px;
	margin: 0;
}

.slider__buttons {
	text-align: center;
	line-height: 1;
	display: flex;
	justify-content: center;
	column-gap: 20px;
}

.slider__button-round {
	width: 12px;
	height: 12px;
	border: 2px solid #000000;
	border-radius: 50%;
	padding: 0;
	margin: 0;
}

.slider__button-round--active {
	background-color: #000000;
}

.page-main__product-categories {
	margin-bottom: 70px;
}

.product-categories__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	padding: 0;
	margin: 0;
}

.product-categories__item {
	width: 160px;
	margin: 0;
}

.product-categories__link {
	text-decoration: none;
	color: #000000;
	margin: 0;
}

.product-categories__link::before {
	content: "";
	width: 160px;
	height: 160px;
	display: block;
	background: #FFE17F var(--bgi) no-repeat center var(--bgp, center);
	margin-bottom: 33px;
}

.product-categories__item--virtual-reality {
	--bgi: url("../images/virtual-reality.svg");
}

.product-categories__item--monopods {
  --bgi: url("../images/monopods-for-selfie.svg");
  --bgp: bottom;
}

.product-categories__item--action-cameras {
  --bgi: url("../images/action-cameras.svg");
}

.product-categories__item--fitness-bracelets {
  --bgi: url("../images/fitness-bracelets.svg");
}

.product-categories__item--smart-watches {
  --bgi: url("../images/smart-watches.svg");
}

.product-categories__item--quadrocopters {
  --bgi: url("../images/quadrocopters.svg");

}

.product-categories__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
	margin: 0;
}


.page-main__services {
	margin-bottom: 70px;
}

.services {
  background: linear-gradient(to bottom, #FFFFFF 102px, #F0F0F0 102px);
}

.services__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__list {
	list-style: none;
	width: 280px;
	margin: 0;
  margin-bottom: 72px;
  padding: 64px 0 65px 0 ;
}

.services__list::after {
  content: "";
  width: 7px;
  height: 100%;
  background-color: #000000;
  display: block;
}

.services__item:not(:last-child) {
	margin: 0 0 35px 0;
}

.services__item--active {
  background-color: #000000;
}

.button-link--selected {
  color: #FFE17F;
}

.services__list-description {
	list-style: none;
  width: 694px;
	margin: 0;
  padding: 0;
}

.services__item-description {
	display: none;
}

.services__item-description--active {
	display: block;
}

.services__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin-top: 0;
}

.services__text {
	color: #444444;
}

.page-main__individual-delivery {
	margin-bottom: 70px;
}

.individual-delivery__link {
	text-decoration: none;
	color: #000000;
}

.individual-delivery__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: #F0F0F0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.individual-delivery__title::before {
	content: "";
	width: 125px;
	height: 100px;
	background-color: #FFE17F;
	background-image: url("../images/deliveri-car.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.individual-delivery__title::after {
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(220, 220, 220, 0.5);
	background-image: url("../images/delivery-i.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}


.about-contacts {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.about {
	width: 520px;
}

.about__title {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 48px 0;
}

.about__text {
	color: #444444;
	width: 497px;
	margin: 0 0 30px 0;
}

.about__list {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	list-style: none;
	margin: 0 0 40px 0;
	padding: 0 0 0 0;
}

.about__item {
	margin-bottom: 19px;
	display: flex;
	align-items: center;
}

.about__item:last-child {
	margin: 0;
}

.about__item::before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FFC700;
	margin-right: 26px;
}


.page-main__contacts {
	margin: 0;
}

.contacts {
	width: 532px;
}

.contacts__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 48px 0;
}

.contacts__text {
	color: #444444;
	width: 498px;
	margin: 0 0 30px 0;
}

.contacts__sub-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #444444;
	margin: 0 0 15px 0;
}

.contacts__address {
	font-style: normal;
	color: #444444;
	margin: 0 0 30px 0;
}

.contacts__text-address {
	color: #444444;
	margin: 0;
}

.contacts__link-phone {
	color: #444444;
	text-decoration-line: underline;
}

.contacts__list-schedule {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

.newsletter {
	background-color: #F0F0F0;
}

.newsletter-title-text {
	display: flex;
	margin: 0 0 144px 0;
}

.newsletter__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	width: 348px;
	margin: 0 252px 0 0;
	padding: 64px 0 0 0;
}

.newsletter__text {
	color: #444444;
	width: 529px;
	margin: 0;
	padding: 74px 0 0 0;
}

.newsletter__form {
	display: flex;
	align-items: center;
	padding: 0 0 56px 0;
}

.newsletter__input {
	font-family: var(--main-font);
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	background-color: #F0F0F0;
	opacity: 0.5;
	width: 557px;
	padding: 11px 0 14px 16px;
}

.newsletter__button {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	width: 253px;
	padding: 18px 39px;
	margin-right: 188px;
}

.newsletter__text-free {
	margin: 0;
}

/* footer */

.page-footer {
	color: #ffffff;
	background-color: #444444;
}

.footer-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "page-footer__link page-footer__link page-footer__link"
    "address-footer services-footer contacts-footer"
    "social-footer social-footer htmlacademy";
  grid-template-columns: 240px 444px 175px;
}

.page-footer__link {
  display: block;
  padding-top: 62px;
  margin-bottom: 35px;
  grid-area: page-footer__link;
}

.address-footer {
  grid-area: address-footer;
}

.address-footer__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.services-footer {
  grid-area: services-footer;
  align-self: center;
}

.services-footer__list {
	list-style: none;
	display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services-footer__item {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.services-footer__link {
	color: #ffffff;
	text-decoration: none;
}

.contacts-footer {
  grid-area: contacts-footer;
  align-self: center;
}

.contacts-footer__link {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
  display: block;
}

.social-footer {
  grid-area: social-footer;
}

.social-footer__list {
	list-style: none;
	display: flex;
  margin: 0;
  padding: 0;
}

.htmlacademy__link {
	color: #FFC700;
}

/* Каталог */

.main-inner__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

/*  Хлебные крошки */

.main-inner__title {
	margin-left: 60px;
	margin-bottom: 16px;
}

.breadcrumbs {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	padding: 0;
	margin-left: 60px;
	margin-bottom: 34px;
	display: flex;
}

.breadcrumbs__item:not(:last-child) {
	margin-right: 36px;
}

.breadcrumbs__link {
	text-decoration: none;
	color: #000000;
}

.catalog-products {
	background-color: #F0F0F0;
}

.catalog-wrapper {
	display: flex;
}

.filters {
	width: 320px;
}

.filters__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.filters__sub-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
}

.filters__item {
	font-size: 16px;
	line-height: 20px;
}

.product-cards {
	width: 840px;
}

.sorting {
	background-color: #F0F0F0;
	display: flex;
	align-items: center;
}

.sorting__title {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0;
	padding: 26px 0;
	margin-left: 40px;
}

.sorting__select {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	background-color: #F0F0F0;
	margin-left: 206px;
}

.sorting__button {
	display: block;
}

.product-cards {
	background-color: #FFFFFF;
}

.product-cards__list {
	list-style: none;
  margin: 70px 40px 44px 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
}

.product-cards__link {
	text-decoration: none;
	color: #000000;
}

.product-cards__link--else-download {
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	display: block;
	width: 760px;
	padding: 18px 0;
	margin: 0 auto;
	border: 3px solid #E5E5E5;
	margin-bottom: 44px;
}

.product-cards__sign {
  display: flex;
  justify-content: space-between;
}

.product-cards__title {
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
  width: 200px;
}

.product-cards__price {
	font-size: 18px;
	line-height: 21px;
	color: #444444;
}

.pagination {
	width: 760px;
	background-color: #EBEBEB;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 78px;
}

.pagination__link {
	text-decoration: none;
	font-family: var(--additional-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #444444;
	display: block;
	padding: 25px;
}

.pagination__link--back {
	opacity: 0.3;
}

.pagination__link--forward {
	color: #000000;
}

.pagination__list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.pagination__link-numbers {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #444444;
	opacity: 0.3;
	display: block;
	width: 40px;
	height: 40px;
	padding: 10px 0;
	box-sizing: border-box;
}

.pagination__link-numbers--first{
	opacity: 0.6;
}
